.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media #{$lg}{
        grid-template-columns: 100%;
        grid-row: auto;
    }
    column-gap: 2rem;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text-h1{
    width: 24rem;

    @include maskBeforeAnimation(-5rem, 0, 1s);

    @media #{$sm}{
        width: 100%;
    }
}

.header-text-description{
    padding: 2rem 0;
    text-align: justify;
    line-height: 1.5rem;
    font-size: FontRespons(0.8rem);

    @include maskBeforeAnimation(-5rem, 0, 1.5s);
}

.header-btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    @media #{$sm}{
        flex-direction: column;
    }
    @include maskBeforeAnimation(0, 2rem, 1.8s)
}

.header-illustration{
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$lg}{
        padding-top: 2rem;
    }
}

.header-illustration-img{
    @include maskBeforeAnimation(5rem, 0, 1s);
}