.logo{
    max-width: 3rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backColor1;
    @include maskBeforeAnimation(0, -1.2rem, 0.5s);
}


.menu, .menu-social{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: FontRespons(0.85rem);
}

.menu{
    background-color: $backColor1;
    @media #{$sm}{
        position: absolute;
        top: 5rem;
        width: 100%;
        flex-direction: column;
        left: 0;
        font-size: FontRespons(1.1rem);
        padding-bottom: 1rem;
        transform: translateX(-100vw);
        z-index: 1;
    }
}

.menu-item-link, .menu-social-link{
    padding: 1rem 1rem;
}

.menu-social{
    font-size: FontRespons(1.3rem);
    @media #{$md}{
        display: none;
    }
}

.header-icon{
    font-size: FontRespons(1.5rem);
    display: none;
    @media #{$sm}{
        display: block;
    }
}