.step-service{
    display: grid;
    grid-template-columns: 1fr 0.7rem 1fr;
    position: relative;
}

.service-title-prototype{
    span{
        color: $myOrange;
    }
}

.service-title-code{
    span{
        color: $myGreen;
    }
}

.service-title-livraison{
    span{
        color: $primaryColor;
    }
}

.step-service-description{
    padding: 1rem 2rem;
    line-height: 25px;
    font-size: 1.05rem;
    text-align: center;
}

.bar-prototype{
    background-color: $myOrange;
    display: flex;
    justify-content: center;
}

.bar-prototype-number, .bar-livraison-number, .bar-code-number{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    color: $myWhite;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-prototype-number{
    background-color: $myOrange;
}

.bar-livraison-number{
    background-color: $primaryColor;
}

.bar-code-number{
    background-color: $myGreen;
}

.bar-code{
    background-color: $myGreen;
    display: flex;
    justify-content: center;
}

.bar-livraison{
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
}