.footer {
  background-color: #ececec;
}

.newsletter {
    position: relative;
    top: 100px;
    margin: 0 auto;
    max-width: 1000px;
    @include boxshadow(4px);
    background-color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
    height: calc(300px + 1vw);
}

.newsletter-h1 {
  width: 60%;
}

.newsletter-input {
  width: 60%;
  height: calc(13px + 1vw);
  padding: 15px 25px;
  border: 0;
  @include boxshadow(2px);
  background-color: #ececec;
  font-size: responsText(1rem);
  &:focus{
    @include boxshadow(0px);
    border: 0;
  }
}

.service-information{
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #333;
  color: white;

  @include containerPadding(900px);
}