.service {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 0.7px solid $borderColor;
  @media #{$md}{
    grid-template-columns: 1fr;
  }
}



.serviceText {
  padding: 4vw 30px;
}

.service-h1{
    padding-bottom: 20px;
    @include containerPadding(600px)
}

.service-text-description{
    font-size: responsText(1.05rem);
    text-align: justify;
    @include containerPadding(750px);
}

.serviceIllustration {
  display: flex;
  align-items: center;
  justify-content: end;
  @media #{$md}{
    display: none;
  }
}

.serviceIllustrationImg {
  max-width: 450px;
}

.service-section {
  background-color: #f7fafb;
}
