.text-h1{
    font-family: $title-font;
    font-size: responsText(2.8rem);
    text-align: center;
    text-shadow: 1px 2.5px 4px rgba(0, 0, 0, 0.25);
    span{
        color: $secondColor;
    }
    @media #{$md}{
        font-size: responsText(2.5rem);
    }
}

.text-h2{
    font-size: responsText(1.5rem);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $thirdColor;
    font-weight: bold;
    @media #{$md}{
        font-size: responsText(1rem);
    }
}