.btn{
    background-color: #002147;
    color: white;
    width: calc(172px + 2vw);
    height: 67px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #000000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 0px calc(10px + 1vw);
    font-weight: bold;
}