@mixin boxshadow($sizeY : 4px) {
    box-shadow: 0px $sizeY 4px rgba(0, 0, 0, 0.25);
} 

@mixin containerPadding($size : 1330px) {  
    padding-left: calc(50% - #{$size}/ 2);
    padding-right: calc(50% - #{$size}/ 2);
}