#ourService{
    @include containerPadding;
}

#sub-form{
    height: 0;
    border-top: 100px solid transparent;
    border-right: 100VW solid $backColor2;
    // border-right: 500px solid transparent;
}

#sub-form-bottom{
    height: 0;
    border-bottom: 100px solid transparent;
    border-left: 100VW solid $backColor2;
}