@media all and (max-width : 576px){
    #header{
        color: #002147;
        padding-top: 70px;
        padding-bottom: 20px;
        background-color: #fff;
        background-image: url('./Fluid-12.5s-624px.svg');
        background-size: cover;
    }

    #illustration img{
        max-width: 80%;
        height: auto;
        display: flex;
        margin: 0 auto;
    }

    #header h2{
        padding-top: 20px;
        padding-left: 45px;
        font-size: calc(30px + 1vw);
        font-family: 'Roboto', sans-serif;
        width: 80%;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

   .btn-inside-header{
        text-align: center;
        padding: 10px 0px;
    }

    #header h3{
        color: #F7B53E;
        padding-top: 10px;
        width: 60%;
        margin: auto;
        text-align: center;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.50);
    }
}