@media all and (max-width : 576px){
    #nav-bar{
        position: fixed;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto;
        z-index: 3;
    }

    #contain-logo-icon{
        padding: 10px 20px 0px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #024bd500;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 1px 0px 4px #00000061;
    }

    h1{
        padding-left: 15px;
        font-size: calc(40px + 1vw);
        font-family: 'Limelight', cursive;
    }

    .icon{
        justify-self: end;
        font-size: calc(25px + 1vw);
        padding-right: 15px;
        display:  flex;
        align-items: center;
    }

    .menu{
        border-top: 2px solid white;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 500ms ease-out;
        padding: 10px 0px;
    }

    .active{
        transform: translateX(0);
        opacity: 1;
        transition: all 500ms ease-in;
    }

    .menu-item{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
    }
}